*{
    box-sizing: border-box;
}
.jumbotron{
    background-color: rgb(6, 6, 78);
    color: white;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.btn{
    background-color: rgb(230, 229, 229);
    color: black;
    border-color: rgb(230, 229, 229);
}
.container{
    border-width: 0.2mm;
    border-style: solid;
    padding: 15px;
    border-color: rgb(230, 229, 229);
}

.head {
    font-size: 0.7cm;
}